@model Tutorials.Fields.ViewModels.ContentFieldVisabilitySettingsViewModel

<div class="mb-3">
    <div class="form-check">
        <input asp-for="IsHidden" type="checkbox" class="form-check-input">
        <label class="form-check-label" asp-for="IsHidden">@T["Is Hidden"]</label>
    </div>
</div>
